<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text</title>
    <link rel="stylesheet" href="../../../public/style.css">
    <link rel="icon" href="../../../public/logo/favicon_io/favicon.ico">
</head>

<body>
    <div id="navbar" class="grad">
        <div class="back">
            <a href="../../../index.html"><img src="../../../public/back.svg" alt=""></a>
        </div>
        <div>
            <h2></h2>
        </div>
    </div>
    <div class="content-box">
        <h1>text</h1>
        <div class="wh">
            <h2>Details of the course &darr;</h2>
            <div class="part2">
                <div>
                    <div>
                        <p><b>Unit No.</b></p>
                    </div>
                    <div>
                        <p><b>CONTENT</b></p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>1</p>
                    </div>
                    <div>
                        <p><a href="./unit1/index.html">Intr &neArr;</a>:
                        <ul>
                            <li></li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../public/main.js"></script>
</body>

</html>